@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:wght@800&display=swap');
body{
    background-color: green;
    background-image: url('../images/bg_img.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.displayscore{
    font-family: 'Chivo Mono', monospace;
    display: inline-flex;
    font-size: 20px;
}
#scoreDisplay{
    margin-right: 390px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#highScore{
    margin-top: 10px;
    margin-bottom: 10px;
}
.score{
    text-align: right;
    justify-content: flex-start;
    margin: 0;
}
#board{
    background: linear-gradient(rgb(92, 171, 92),rgb(205, 194, 194));
    width: 90vmin;
    height: 90vmin;
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
}
.snake-body{
    background: linear-gradient(rgb(187, 43, 43),rgb(194, 87, 87));
    border: 1px solid black;
    border-radius:25%;
}
.snake-head{
    background : linear-gradient(rgba(225, 225, 14, 0.895),rgb(196, 53, 53));
    border: 1px solid black;
    border-radius:25%;
}
.snake-food{
    background-color: rgb(28, 152, 61);
    border: 1px solid black;
    border-radius:25%;
}
